[Unit]
Description=Satisfactory Server
After=docker.service
Requires=docker.service
ConditionPathExists=/etc/satisfactory.d/satisfactory

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
            --name=satisfactory-server \
            --pull=always \
            --rm \
            --stop-timeout 120 \
            -h satisfactory-server \
            -v /opt/satisfactory:/config \
            -p 7777:7777/udp \
            -p 15000:15000/udp \
            -p 15777:15777/udp \
            --env-file /etc/satisfactory.d/satisfactory \
            wolveix/satisfactory-server:latest
ExecStop=/usr/bin/docker stop %n
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target


